<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8AA54844-AF73-49A3-8501-BD135BCA5FA5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8AA54844-AF73-49A3-8501-BD135BCA5FA5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Color.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/File.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node-Canvas.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node-Document.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node-Rectangle.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node-Text.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node-Vector.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Node.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Paint.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/PolymorphicDecodable.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Rectangle.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/String+indented.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Transform.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/UIKit+Bridge.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKit.playgroundmodule/Sources/Vector.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/ColorTests.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/FileTests.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/PaintTests.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/RectangleTests.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/TransformTests.swift</key>
		<string>Added</string>
		<key>UserModules/FigmaKitTests.playgroundmodule/Sources/VectorTests.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/XCTest.playgroundmodule/Sources/XCTAssert.swift</key>
		<string>Added</string>
		<key>UserModules/XCTest.playgroundmodule/Sources/XCTest.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
