<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>8AA54844-AF73-49A3-8501-BD135BCA5FA5.playgroundpage</string>
		<string>A5CB2E69-203F-4ECD-B600-E89477CD909D.playgroundpage</string>
	</array>
</dict>
</plist>
